@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,700;1,400&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-image: url(https://www.1zoom.me/big2/316/332326-alexfas01.jpg);
    background-size: cover;
    background-position-y: 100px;
    background-position-x: -150px;
    background-repeat: no-repeat;
    background-size: 2200px;
}
/* Animacion de titulo pagina principal */
.animate__animated{
  color: black;
  font-size: 60px;
  text-align: center;
  line-height: 1.8;
  text-decoration: black;
  font-weight: bold;
  font-family: fantasy;
}
/* accesos a servicios neumaticos tren delantero y tren trasero */
.serviciosWeb {
  color: black;
  text-decoration: black;
  font-size: 20px;
  font-family: fantasy;
  display: table-row;
}
/* contacto en pagina principal */
.formulario {
  color: revert;
  font-family: fantasy;
}
/* posiciona el titulo al centro en neumaticos y nuestra empresa */
.centro {
  font-size: 35px;
  text-align: center;
}
/* galeria, nuestra empresa, ingresar e inicio */
p {
  color: black;
  font-size: 20px;
  text-align: right;
  line-height: 1.8;
  text-decoration: black;
  font-weight: bold;
  font-family: fantasy;
}
/* agregar oferta en pagina principal */
.promo {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-family: system-ui;
}
/* recomendacion de neumatico gama alta a buen precio */
.michelin {
    color: crimson;
    font-family: -webkit-pictograph;
    font-size: 1em;
    text-align: left;
}
/* ingresar medida en pagina principal */
.medida {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* uso de flex en pagina principal, servicios, neumaticos, tren delantero y nuestra empresa */
section {
  margin: 20px;
  display: flex;

 }

 section article {
  background: linear-gradient(45deg, black, transparent);
  width: 500px;
  height: 300px;
  padding: 40px;
 }

   section article p {
    line-height: 4;
    }
/* listado de servicios neumaticos tren delantero y tren trasero */
    ul {
      list-style: none;
      font-size:0 
   }

     li {
        display: inline-block;
        position: relative;
        display: inline-block;
        width: 25%;
        font-size: 15px;
        color: black;
      }

     ul ul {
        position: absolute;
        display: none;
     }

     ul ul li {
        display: block;
     }
/* hover al listado */
     ul li:hover ul {
        display:block;
     }

     h1 {
         font-size: 20px;
         text-align: right;
     }
      
      ul li a:hover {
        background: linear-gradient(45deg, blue, transparent);
        color: white;
        padding: 4px;
        height: 50px;
        transition: all 2s;
      }
      
      a {
        text-decoration-style: solid;
        padding: 4px;
        color: violet;
        font-family: fantasy;
       }
/* grid en tren trasero, tren delantero, neumaticos y servicios*/
.grid {
border: 2px solid black;
background: linear-gradient(45deg, black, transparent);
height: 250px;
margin: 10px;
width: 150%;
padding: 100px;
font-weight: bold;
}

.grids {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-gap: 330px;
  grid-template-rows: 300px;
}

  body {
    margin: 0;
    padding: 0;
    height: 100vh;
  }
/* registracion */
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }

  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }

  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }
  .bg-5{
    background: linear-gradient(135deg, rgb(227, 227, 227) 0%, rgb(93, 104, 116) 100%);
  }
 
 .animated-shadow {
   color: #ffffff;
   font: normal 100px Varela Round, sans-serif;
   height: 100px;
   left: 0;
   letter-spacing: 3px;
   text-align: center;
   text-transform: uppercase;
   width: 100%;
   animation: move linear 2000ms infinite;
   z-index: 2
 }
 /*Animación para rotar las sombras*/
 @keyframes move {
   0% {
     text-shadow:
       4px -4px 0 #da0641,
       3px -3px 0 #da0641,
       2px -2px 0 #da0641,
       1px -1px 0 #da0641,
       -4px 4px 0 #13f1fc,
       -3px 3px 0 #13f1fc,
       -2px 2px 0 #13f1fc,
       -1px 1px 0 #13f1fc
     ;
   }
   25% {
     text-shadow:
       -4px -4px 0 #13f1fc,
       -3px -3px 0 #13f1fc,
       -2px -2px 0 #13f1fc,
       -1px -1px 0 #13f1fc,
       4px 4px 0 #da0641,
       3px 3px 0 #da0641,
       2px 2px 0 #da0641,
       1px 1px 0 #da0641
     ;
   }
   50% {
     text-shadow:
       -4px 4px 0 #da0641,
       -3px 3px 0 #da0641,
       -2px 2px 0 #da0641,
       -1px 1px 0 #da0641,
       4px -4px 0 #13f1fc,
       3px -3px 0 #13f1fc,
       2px -2px 0 #13f1fc,
       1px -1px 0 #13f1fc
     ;
   }
   75% {
     text-shadow:
       4px 4px 0 #13f1fc,
       3px 3px 0 #13f1fc,
       2px 2px 0 #13f1fc,
       1px 1px 0 #13f1fc,
       -4px -4px 0 #da0641,
       -3px -3px 0 #da0641,
       -2px -2px 0 #da0641,
       -1px -1px 0 #da0641
     ;
   }
   100% {
     text-shadow:
       4px -4px 0 #da0641,
       3px -3px 0 #da0641,
       2px -2px 0 #da0641,
       1px -1px 0 #da0641,
       -4px 4px 0 #13f1fc,
       -3px 3px 0 #13f1fc,
       -2px 2px 0 #13f1fc,
       -1px 1px 0 #13f1fc
     ;
   }
 }